* {
  box-sizing: border-box;

}

body {
  margin: 0;
  padding: 0;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  line-height: 1.5;
}

p {
  margin: 0;
}

header {
  display: flex;
  justify-content: space-between;
  background-color: aqua;
}

.me-section {
  width: 50px;
  border-radius: 100%;
  overflow: hidden;
}

.me-section img {
  width: 100%
}

.me-section {
  display: flex;
}

.hero-banner {
  display: flex;
  justify-content: flex-end;
  background-color: aqua;
}

.page-wrapper {
  background-color: cornflowerblue;
}

.List-of-projects {
  display: flex;
  flex-wrap: wrap;
}
.List-of-projects img {
  min-height: 200px;
  max-height: 200px;
  min-width: 600px;
  max-width: 600px;
}
.flex {
  display: flex;
  flex-basis: 50%;
}
.Project-X {
  flex-basis: 100%;
  height: 50vh;
  background-image: url("../images/mountains-under-mist-morning-amazing-260nw-1725825019.webp");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
